.counter {
  width: 350px;
  height: 210px;
  padding: 20px;
  // background-color: #111111;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    transition: 200ms;
    border: 1px solid #f3521247;
      transition: all 300ms ease;
background: linear-gradient(to bottom left, #000000 20%, #ba4911b1 100%); 




  //  box-shadow: 6px -3px 30px -6px #f35212ab ;  



  h1 {
    width: 100%;
    text-align: end;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -3px;
  }
    &:hover {

    background: linear-gradient(to bottom left, #000000e2 20%, #f35212 130%);
    transform: scale(1.02); 
  }
}
